.menu {
    background-color: #186a91;
    color: #b6cfde;
    padding: 10px;
}

.painel {
    text-align:center;
    color: #b6cfde;
}

.App form {
    width: 300px;
    margin: 80px auto;
}

.form-control-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    color:#b6cfde;
}

.form-control-group label {
    margin-bottom: 5px;
}
.button-cart-solid {
  background-color: #4CAF50; /* Green */
  border-radius: 12px;
  border: 2px solid #4CAF50;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}